<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yoms Bank</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <form>
      <input placeholder="username" type="text" name="username" id="username" />
      <input placeholder="password" type="text" name="password" id="password" />
      <button type="button" onclick="login()">Login</button>
      <button type="button" onclick="signUp()">SignUp</button>
    </form>
  </body>
</html>
